.trey {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>T</text></svg>");
  background-size: 10px;
  background-repeat: no-repeat;
}